# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# JS files should always use LF
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf

# Force batch scripts to use CRLF
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Denote all files that are truly binary and should not be modified
*.{png,jpg,jpeg,gif,webp,svg,ico,woff,woff2} binary