:root {
    --primary-color: #000;
    --secondary-color: #f8f8f8;
    --text-color: #333;
    --background-color: #ffffff;
    --link-color: #000;
    --hover-color: #808080;
}


/* Basic reset and typography */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


/* Header styles */

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}


/* Navigation styles */

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}


/* Form styles */

#newsletter-form {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#newsletter-form input[type="email"] {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

#newsletter-form button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

#newsletter-form button:hover {
    background-color: var(--hover-color);
}


/* Additional styles... */